.my-page-wrapper {
    display: flex;
    justify-content: center;
    min-width: 100%;
    flex-direction: column;
}
.donate-page {
    background-color: white;
    margin: 20px;
    margin-bottom: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: #CCE8F4 url(../../images/pic01.jpg);
}

.donate-page .button{
    background-color: #2d5394;
    margin: 10px;
    margin-bottom: 5px;
    width: 100%;
    max-width: 500px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.donate-page.user-read-input{
    background: white !important;
    display: flex;
    flex-direction: column;
    


}

.donate-page.user-read-input i{
    margin-left: 20px;
    font-size: 50px;
    font-weight: 100;
    cursor: pointer;
}


.donate-page.user-input input{
    border: 1px solid;
    width: 100%;
    max-width: 300px;
    margin-bottom: 10px;
    padding: 0 5px;
    height: 35px;
    border-radius: 2px;
}

.button-group {
    display: flex;
}

.button.sub-button {
    background: white;
    color: #2d5394 !important;
    width: 100px;
}


.button.ok-button {
    width: 200px;
}

.label {
    font-size: 20px;
    font-weight: 500;
    color: white;
    margin-top: 33px;
    margin-bottom: 8px;
    background: #680310;
    padding: 7px 14px;
    border-radius: 4px;
    text-align: center;
}

.divider {
    margin-top: 10px;
    color: white;
    font-weight: 400;
    font-size: 30px;
}

#header {
    margin-bottom: 0;
}

#user-read {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


#user-read div:last-child {
    font-size: 20px;
    font-weight: 500;
}
#header {
    padding: 1em 0 1em 0;
}